<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= t('app.name') %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "application", media: "all" %>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= Rails.application.credentials.dig(Rails.env.to_sym, :yandex_maps, :api_key) %>&lang=ru_RU" type="text/javascript"></script>

    <%= javascript_pack_tag "application" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha512-YibiFIKqwi6sZFfPm5HNHQYemJwFbyyYHjrr3UT+VobMt/YBo1kBxgui5RWc4C3B4RJMYCdCAJkbXHt+irKfSA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>

        <div class="navbar navbar-responsive">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="buffer-left-right color-text "><%=link_to "Профиль", current_user %></li>
              <li class="buffer-left-right"><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li class="buffer-left-right"><%=link_to "Войти", new_user_session_path %></li>
              <li class="buffer-left-right"><%=link_to "Зарегистрироваться", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="buffer-top">
            <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %>" role="alert">
                <%= value %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          </div>

          <%= yield %>
        </div>
        <div class="col-lg-3">

        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p class="text-center buffer-top">&copy; <%= t('app.company')%>  <%= Time.now.year%></p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
